@media (min-width: 900px) {
  .mt-8.btn-xl {
  }
}

@media (min-width: 900px) {
  .mt-9.btn-xl {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 13px;
    padding-left: 13px;
  }
}

